<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div ng-show="message" class="alert alert-danger">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Aww snap!</strong> Unable to login.
		</div>
		<form>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="username" ng-model="user.username" />
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="password" ng-model="user.password" />
			</div>
			<div class="form-group">
				<input type="button" class="btn btn-primary" value="Login" ng-click="login(user)" /> 
			</div>
		</form>
	</div>
</div>
