<div class="row">
	<div ng-if="products.length > 0" class="col-md-8 col-md-offset-2">
		<table class="table table-striped">
			<tr>
				<th>
					Name
				</th>
				<th>
					Expiry
				</th>
				<th>
					Action
				</th>
			</tr>
			<tr ng-repeat="p in products">
				<td>{{p.name}}</td>
				<td>{{p.expiry}}</td>
				<td><input type="button" class="btn btn-danger" ng-click="delete(p)" value="Delete" /></td>
			</tr>
			
		</table>		
	</div>
	<div ng-if="typeof(products) == 'undefined' || products.length==0" class="col-md-4 col-md-offset-4">
		<center>Oops! No products to display</center>
	</div>
</div>
